.Titulo{
    color:#52E2F2;
    font-size: 50px;
    text-align: center;
    font-family: comic sans ms;

}
.subt{
    color:  #D977C8;
    text-align: center;
    font-size: 30px;
    font-family: Bradley Hand;
}
body{
    background-color: #140126;
}
.text{
    color: #FFFFFF;
}
.navbar{
    background-color: #F0E7FB;
    padding: 0;
}
.nav-link{
    color: #FFFFFF;
    font-size: 26px;
}
.container-fluid {
    background-color: #684373;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    text-align: center;
    color: #09040D;
}
/*slider automatico*/
.slider {
    display: flex;
    position: relative;
    animation: slide 10s linear infinite; /* Cambia la duración y el número de iteraciones según tus preferencias */
}

.slider a {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.slider img {
    max-width: 30%;
    max-height: 50%;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}
/*aqui termina el slider*/
table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #FF9BFF;
    text-align: center;
}
table tr {
    width: auto;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #FF9BFF;
}
table td {
    width: auto;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #FF9BFF;
}
.tabla-responsive {
    max-width: 100%;
    overflow-x: auto;
    margin: 20px;
    color: #FF9BFF;

}

h1{
    text-align: center; color: #FFFFFF;
}
h3{
    text-align: center; color:#FFFFFF;
}
h4{ color:  #D977C8;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

/* Estilos para los álbumes */

.peliculas {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  .peli {
    text-align: center; /* Centra el contenido horizontalmente */
    background-color: #746D8A; 
    padding: 20px; /* Agrega un relleno para dar espacio al contenido */
  }
.peli img {
    max-width: 300px;
    cursor: pointer; 
}
/* Estilos para las canciones */
.horario {
    display: none;
    text-align: left;
    margin-top: 5px;
}
.peli:hover .horario {
    display: block;
}

.horario ul {
    list-style-type: none;
    padding: 0;
}

.horario ul li {
    margin-bottom: 5px;
}
/* Contenedor principal del artista */
.pelicula-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.peli-info {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: center;
    color:#F0E7FB
}
/* Estilos para la información del artista */
#TS{
    text-align: center; background-color: #746D8A;
}
.act{
        width: 10%;
        height: 20%;
        }

.history{
    color: white;
    text-align: center;
    font-size:  25px;
    font-family: 'Courier New', Courier, monospace;
}
.pan{
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.fin{
    width: 50px;
    height: 5%;
    

}
.imgp{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.icon{
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon2{
    width: 50px;
    height: 50%;
    
}
.vela{
    width: 25px;
    height: 50%;
}